@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&family=Poppins:wght@400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f9fa;
    color: #333;
}

header {
    background-color: #343a40;
    color: white;
    padding: 10px;
    text-align: center;
}

nav {
    margin-top: 10px;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
    font-weight: bold;
    transition: color 0.3s ease;
}

nav a:hover {
    color: lightgray;
}

main {
    padding: 20px;
}

section {
    margin-bottom: 40px;
}

h1 {
    font-size: 36px;
    margin-bottom: 10px;
}

h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

p {
    font-size: 16px;
    line-height: 1.6;
}

.contact-info {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.contact-info img {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.social-links {
    display: flex;
    align-items: center;
}

.social-icon {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.quick-links a {
    display: block;
    margin-bottom: 5px;
    text-decoration: none;
    color: #333;
    transition: color 0.3s ease;
}

.quick-links a:hover {
    color: #555;
}

footer {
    background-color: #343a40;
    color: white;
    text-align: center;
    padding: 20px;
}

@media screen and (max-width: 768px) {
    h1 {
        font-size: 28px;
    }

    h2 {
        font-size: 20px;
    }

    p {
        font-size: 14px;
    }
}

@media screen and (max-width: 600px) {
    nav {
        display: flex;
        flex-direction: column;
    }

    nav a {
        margin: 10px 0;
    }

    .social-links {
        flex-direction: column;
    }

    .social-icon {
        margin-right: 0;
        margin-bottom: 10px;
    }
}
